# This notebook is used to transalte adm1 pro to asm1 prom

In [5]:
import pandas as pd
def read_adm1_data(file = 'influent_to_wwtp.csv'):
    df = pd.read_csv(file, index_col =  0)
    return df

In [6]:
df = read_adm1_data()
df.head()

,S_su,S_aa,S_fa,S_va,S_bu,S_pro,S_ac,S_h2,S_ch4,S_IC,...,X_fa,X_c4,X_pro,X_ac,X_h2,X_I,S_cat,S_an,H2O,Volumetric Flowrate
1,0.731084,0.752787,20.490541,1.254585,1.590597,1.766505,13.075181,0.000009,41.519089,560.017463,...,10.445721,79.738308,40.711087,17.547407,84.469470,111.524740,40,20,990964.2007,9.620174
2,0.790039,0.802502,21.046698,1.360776,1.724301,1.970121,13.572688,0.000010,38.465477,548.350371,...,10.773041,81.517631,40.423545,22.789720,85.572730,111.983030,40,20,990964.2007,7.610177
3,2.440719,1.912096,29.209465,3.663656,4.753397,5.722872,21.253652,0.000026,41.033542,529.887684,...,11.974169,80.984802,34.751500,101.246830,89.749409,98.628260,40,20,990964.2007,9.069316
4,1.969023,1.636827,27.625613,3.122116,4.006898,5.012716,19.372994,0.000022,40.706199,533.766835,...,12.133200,85.457032,34.227188,87.760801,89.370291,103.578580,40,20,990964.2007,6.716632
5,0.622173,0.657064,19.328076,1.053645,1.337960,1.407006,12.572153,0.000008,39.656685,558.607013,...,9.660221,75.435038,40.439152,8.576933,81.251975,112.144528,40,20,990964.2007,5.364079